.admin__header {
    width: 100%;
    padding: 20px 0px;
    background: var(--primary-color);
  }

  .admin__nav-top {
    width: 100%;
  }
  
  .admin__nav-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  }
  
  .admin__nav-top-right img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .admin__nav-top-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  
  .admin__nav-wrapper-top .search__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .admin__nav-top-right span i {
    color: whitesmoke;
    cursor: pointer;
  }
  
  .admin__nav-wrapper-top .logo h2 {
    font-size: 1.2rem;
    color: whitesmoke;
  }
  
  .admin__menu {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--card-bg-02);
  }
  
  .admin__navigation {
    text-align: center;
  }
  
  .admin__menu-list {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    justify-content: center;
  }
  
  .admin__menu-list .admin__menu-item a {
    color: var(--primary-color);
    font-weight: 500;
  
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .admin__menu-active {
    background: whitesmoke;
  }

  .mobile__menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
  }

  ul.menu {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
    li.admin__menu-item {
      white-space: nowrap;
    }

    @media only screen and (max-width: 768px) {

      ul.menu {
        display: flex;
        padding: 5px;
        line-height: 3;
      }
      .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
      }

      .admin__menu {
        display: none;
      }
    
      .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .active__menu {
        display: block;
      }
    
      .mobile__menu {
        display: block;
      }
    
      .mobile__menu span i {
        font-size: 2rem !important;
        margin-left: 2%;
        cursor: pointer;
      }
    
      .logo img {
        width: 1rem;
        height: 1rem;
      }
      .logo h1 {
        font-size: 1rem;
      }
    
      .fav__icon i,
      .cart__icon i {
        font-size: 1.2rem !important;
      }
    
      .nav__icons span img {
        width: 1.4rem;
        height: 1.4rem;
      }
    
      .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
      }
    }

    @media only screen and (max-width: 777px) {
      .admin__nav-wrapper-top .search__box {
        display: none;
      }
    }
  }