.table tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain;
  }

  .warning {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #dc3545;
    font-weight: bold;
  }

  .table {
    margin-top: 80px;
  }
  
  td i {
    cursor: pointer;
  }
  
  td,
  th {
    color: var(--primary-color);
  }
  