.revenue__box,
.order__box,
.products__box,
.users__box {
  padding: 20px;
  border-radius: 5px;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}

.revenue__box {
  background: var(--card-bg-01);
}

.products__box {
  background: var(--card-bg-01);
}

.order__box {
  background: var(--card-bg-01);
}
.users__box {
  background: var(--card-bg-01);
}

.revenue__box h5,
.order__box h5,
.products__box h5,
.users__box h5 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.revenue__box span,
.order__box span,
.products__box span,
.users__box span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
.revenue__box span,
.order__box span,
.products__box span,
.users__box span {
  font-size: 1rem;
  }

.revenue__box,
.order__box,
.products__box,
.users__box {
  width: 140px;
  margin: 10px 50px;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}
}

@media only screen and (max-width: 530px) {
  .revenue__box,
.order__box,
.products__box,
.users__box {
  width: 140px;
  margin: 10px 20px;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}
}

@media only screen and (max-width: 412px) {
  .revenue__box,
.order__box,
.products__box,
.users__box {
  width: 200px;
  margin: 10px 85px;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}
}