.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--secondary-color);
  }
  
  .footer__text {
    line-height: 30px;
    color: var(--primary-color);
  }
  
  .footer__quick-links ul li {
    background: transparent !important;
  }
  
  .footer__quick-links ul li a {
    color: var(--primary-color);
  }
  
  .quick__links-title {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 1.1rem;
  }
  
  .footer__contact li span,
  .footer__contact li p {
    color: var(--primary-color);
  }
  
  .footer__contact li span {
    font-size: 1.2rem;
  }
  
  .footer__contact li p {
    font-size: 0.9rem;
  }
  
  .footer__copyright {
    color: var(--primary-color);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
  }
  
  .Scrolltotop {
    border: none;
    margin-top: 50px;
    font-size: large;
    font-weight: bold;
  }